.tabs{
  border-top: 1px solid #e2e2e2;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
.tabs-list {
  width: 100%;
  height:2.8rem;
}
.tabs-list .tabs-item {
  display: inline-block;
  width: 20%;
  text-align: center;
  height:2.8rem;
  cursor: pointer;
}
.tabs-list .tabs-item a {
  width: 100%;
  display: inline-block;
  height:2.8em;
  line-height: 2.8rem;
  text-align: center;
  text-decoration: none;
  color: cornflowerblue;
  cursor: pointer;
  font-size: 1rem;
}
.tabs-list .tabs-item a.active{
  background-color: cornflowerblue;
  color: #ffffff;
}